@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

header {
  margin-bottom: 1rem;
}

@media (min-width: 48em) {
  header {
    margin-bottom: 4.75rem;
  }
}

.link {
  color: rgb(0, 149, 255);
}

.projectLists li {
  height: 100%;
}

.project-footer {
  margin-top: auto;
}